* {
  margin: 0;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url(../images/bg.jpg) center / cover;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

form {
  height: 300px;
  width: 300px;
  margin: 50px 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border-radius: 40px;
  box-shadow: 22px 22px 44px #2e3955bd, -22px -22px 44px #2e395584;
}

label {
  font-size: 1.4rem;
}

input,
button {
  height: 40px;
  width: 140px;
  border: none;
}

input:focus {
  caret-color: #ffd700;
  outline: none;
}

@keyframes blink-caret {
  50% {
    opacity: 0;
  }
}

button {
  cursor: pointer;
  background: linear-gradient(45deg, #ffd700, #ffa500);
  color: white;
  font-weight: 800;
  border-radius: 30px;
}

.text {
  background: linear-gradient(45deg, #ffd700, #ffa500);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); 
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 250px;
  height: 200px;
  padding: 20px;
  background: url(../images/bg.jpg) center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

.response {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 22px 22px 44px #2e3955bd, -22px -22px 44px #2e395584;
}

.close {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 24px;
  cursor: pointer;
}

.attribution {
  text-align: center;
  color: white;
}

.attribution a {
  text-decoration: none;
}
